#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config LED_MODULE
	bool "LED Module"
	default y
	help
	  Enable LED control module with SMF state machine

if LED_MODULE

module = LED_MODULE
module-str = led_module
source "subsys/logging/Kconfig.template.log_config"

endif # LED_MODULE
