/*
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

#include <freq.h>
#include <zephyr/dt-bindings/pinctrl/nrf-pinctrl.h>


&nrf70 {
	spi-max-frequency = <DT_FREQ_M(16)>;
};

&spi00_default {
	group1 {
		nordic,drive-mode = <NRF_DRIVE_E0E1>;
	};
};

&spi00_sleep {
	group1 {
		nordic,drive-mode = <NRF_DRIVE_E0E1>;
	};
};