#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config BUTTON_MODULE
	bool "Button Module"
	default y
	help
	  Enable button monitoring module with SMF state machine

if BUTTON_MODULE

module = BUTTON_MODULE
module-str = button_module
source "subsys/logging/Kconfig.template.log_config"

config BUTTON_DEBOUNCE_MS
	int "Button debounce time in milliseconds"
	default 50
	help
	  Debounce time for button press detection

endif # BUTTON_MODULE
